
.main-container {
    font-family: 'Lato', sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;
    
    gap: 38px;

    position: absolute;
    width: 76.4%;
    height: 112.3%;
    left: 170px;
    right: 170px;
    top: 185px;

}

